<body>
  <div id="showcase">
    <div class="showcase-container">
      <h2 class="titulo">Música para todos.</h2>
      <p class="textoShowcase">
        Milhões de músicas à sua escolha. E nem precisa de cartão de crédito.
      </p>
      <button class="btn-primary">Obtenha o Spotify Free</button>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="footer-col">
          <h4>Contato</h4>
          <ul>
            <p id="gmail">guifelixs@gmail.com</p>
            <li><a href="https://www.linkedin.com/in/guifelixsz/">Linkedin</a></li>
            <li><a href="https://github.com/DeveSerOGui">Github</a></li>
          </ul>
        </div>
      </div>
    </div>
 </footer>

  <!-- Scripts -->
  <script
    src="https://kit.fontawesome.com/f9e19193d6.js"
    crossorigin="anonymous"
  ></script>
</body>
